@if(courts.length > 0)
{
  <div *ngIf="isLoading" class="loading-container">
  <div class="gradient-spinner"></div>
</div>
<div *ngIf="!isLoading">
  <table class="booking-grid">
  <thead>
    <tr>
      <th>Time</th>
      <th *ngFor="let court of courts">{{ court.name }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let time of timeSlots">
      <td>{{ time }}</td>
      <td *ngFor="let court of courts" [ngClass]="{
      'booked-court-cell': getBookingName(court, time),
      'available-court-cell': !getBookingName(court, time)}">
        {{ getBookingName(court, time) || '' }}
      </td>
    </tr>
  </tbody>
</table>
</div>
}@else{
<p class="booking-grid">No bookings found. Try searching above.</p>
}